@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');
@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

/* * {
    border: solid 1px red;
} */


.icone {
    font-size: 2rem;
    color: cornflowerblue;
}

.icone:hover {
    cursor: pointer;
}

.videos {
    width: 100%;
    height: 30vh;

}

.btn-generos {
    margin: 10px;
}

.btn-generos:hover {
    background-color: lightsalmon;
}