@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');

.boby{
    background-color: rgba(0, 0, 0, 0.721);
}
.card:hover {
    border: solid rgb(99, 178, 218) 2px;
    cursor: pointer;
}

.footer{
    padding-top: 50%;
    background-color: aquamarine;
}

.text-justify {
    text-align: justify
}