 @import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');


 body {
     margin: 0;
     min-height: 100vh;
 }

 .imagem:hover {
    border: solid rgb(218, 145, 99) 2px;
    cursor: pointer;
}

.imagem {
    border: 'none';
}

