 @import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');

 body {
     background-color: rgb(251, 251, 255);
 }

 /*
body {
    background-color: rgb(251, 251, 255);
}

.grid {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    display: grid;
    gap: 10px;
    padding-top: 30px;
    padding: 20px;
    left: 0;
}

.card {
   border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.674);
    font-size: large;
    font-weight: bold;

}

.body-card {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.title {
    text-align: center;
    padding: 3px;
    font-size: 15px;
}

.card:hover {
    border: solid rgb(99, 178, 218) 2px;
    cursor: pointer;
}

.date {
    color: gray;
    font-size: 12px;
    font-weight: lighter;
}

.card>hr,p
{
    margin: 0;
   
}

.subtitulo{
    font-size: 2rem;
    color: gray;
    font-size: large;
    text-align: center;
}


.ranking {
    font-size: 15px;
    font-style: italic;
    font-weight: lighter;
} */