@import url('../../../node_modules/bootstrap/dist/css/bootstrap.min.css');

body {
    background-color: rgb(251, 251, 255);
}

.card:hover {
    border: solid rgb(99, 178, 218) 2px;
    cursor: pointer;
}

